:root{
    --cor-fundo: #0e010c ;
    --cor-principal: #200b11 ;
    --cor-secundaria: #332128; 
    --cor-destaque: #fd2bd3;
    --cor-texto: #ffd7e8;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}